@import 'variables.scss';

.guessTheBreedContainer {
  width: 50rem;
  padding: 2rem;
  text-align: center;
  background-color: #FFF6EB;
  border-radius: 0.8rem;

  .dogName {
    font-family: 'Indie Flower';
    font-size: 3rem;
    text-transform: uppercase;
  }

  .dogImage {
    margin: 1.5rem 0 3rem 0;
  }

  .anecdote {
    max-width: 30rem;
    margin: 0 auto;
  }
}