@import 'variables.scss';

.resultContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  flex-wrap: wrap;
  gap: 2rem;
}

.resultSection {
  flex: 1; /* Take up available space */
  background-color: $color3;
  padding: 2rem;
  border-radius: 0.8rem;
  margin-right: 5rem;
}

.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;

  input {
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    background-color: $color3;
    border: 1px solid $color1;
    padding: 0.5rem;
    border-radius: 0.50rem;
  }

  button {
    background-color: $color1;
    padding: 0.5rem 1rem;
    border-radius: 0.50rem;
    margin-bottom: 3rem;

    &:hover {
      background-color: $hover;
    }
  }
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dogName {
  font-family: 'Indie Flower';
  text-transform: uppercase;
}

.dogNameCount {
  display: flex;
  align-items: center;
}

.guessTheBreedContainer {
  width: 60rem;
  height: 40rem;
  overflow: hidden;
  padding: 2rem;
  text-align: center;
  background-color: $color3;
  border-radius: 0.8rem;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.inputField {
  border: 1px solid $color1;
  padding: 0.5rem;
  border-radius: 0.50rem;
  margin-right: 1rem;
}

.playAgain,
.nextButton {
  background-color: $color1;
  padding: 0.5rem 1rem;
  border-radius: 0.50rem;

  &:hover {
    background-color: $hover;
  }
}

.incorrectGuesses {
  padding-top: 3rem;
}

